#qr{
	display: block;
	width: 300px;
	height: 300px;
}

.detail{
	width: 240px;
	padding: 5px 30px 10px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.detail .favicon{
	width: 16px;
	height: 16px;
	position: relative;
	top: 2px;
	padding: 0 2px;
}

.detail .title{
}